<h1>C'est ici pour chercher des film!</h1>

<%= render "/layouts/flash" %>
<%= form_for :search_movie, method: :get do |f| %>
  <%= f.text_field :title, placeholder:"Entrez le titre " %>
  <br><br>
  <%= f.submit value:"Search" %>
<% end %>
<br/>
 _____________________________________

<% if @movies %>
    <% @movies.each do |movie| %>
        <p>Title :  <%= movie.original_title %></p>
        <p>Release Date : <%= movie.release_date %></p>
        <%= image_tag @img_url + movie.poster_path if movie.poster_path %>
        <br />
        _____________________________________

        <br />
    <% end %>
<% end %>
